<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<style type="text/css">
		body {
			background: black;
		}

		h1 {
			color: white;
			font-family: "Courier New", Courier, monospace;
		}
		textarea {
			resize: none;
		}
	</style>
</head>
<body>
	<h1>Hello everyone!</h1>
	<textarea id="boomer" name="boomer" rows="8" cols="75"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id libero interdum, sollicitudin ex at, fringilla est. Vestibulum viverra convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et arcu fringilla, hendrerit ante in, pharetra erat. Sed elementum ligula sed nulla scelerisque hendrerit. Sed eu fermentum tortor, in mattis neque. Sed sed lacus felis. In sapien lorem, condimentum tincidunt turpis ut, convallis semper metus.
	</textarea>
</body>
</html>